<style>
html {
	background-color: #18BC9C;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
.cfdocs {
	background-color: #FFFFFF;
	margin-left: 3px;
	padding: 5px;
	padding-right: 10px;
}
h1 {
	font-size: 1em;
	margin: 1px;
	padding: 2px;
	background-color: #F9F2F4;
	color: #C7254E;
}
p {
	margin: 1px;
	padding: 2px;
	color: #272B33;
}
a {
	margin: 1px;
	padding: 2px;
	color: #18BC9C;
}
</style>
<div class="cfdocs">
<h1>${syntax}</h1>
<p>${description}</p>
<div>${params}</div>
<a href="${href}">cfdocs.org/${function_or_tag}</a>
</div>